<div class="card" *ngIf="formData">
    <div class="card-header">
        <div class="headInfo">
            <span>Team Process</span>
            <cds-icon shape="info-circle"></cds-icon>
        </div>
    </div>
    <div class="card-body">
        <div class="clr-row">
            <div class="clr-col-4">
                <app-basic-score-display *ngIf="formData.SatisfactionWithProcess.length !== 0; else noSatisfactionData"
                                         [bestPossibleNumber]="5"
                                         [scoreNumber]="formData.SatisfactionWithProcess.avg"
                                         [sd]="formData.SatisfactionWithProcess.sd"
                                         [captionText]="'Satisfaction With Process'"
                                         [captionTooltip]="'Shows the satisfaction with the team process. (1-5)'">
                </app-basic-score-display>
            </div>
            <div class="clr-col-4">
                <app-basic-score-display *ngIf="formData.GoalClarity.length !== 0; else noClarityData"
                                         [bestPossibleNumber]="5"
                                         [scoreNumber]="formData.GoalClarity.avg"
                                         [sd]="formData.GoalClarity.sd"
                                         [captionText]="'Goal Clarity'"
                                         [captionTooltip]="'Shows the clarity of the goals percieved by the participants. (1-5)'">
                </app-basic-score-display>
            </div>
            <div class="clr-col-4">
                <app-basic-score-display *ngIf="formData.Voice.length !== 0; else noVoiceData"
                                         [bestPossibleNumber]="5"
                                         [scoreNumber]="formData.Voice.avg"
                                         [sd]="formData.Voice.sd"
                                         [captionText]="'Team Voice'"
                                         [captionTooltip]="'Shows the percieved Voice the participants had in the team. (1-5)'"
                                         [tooltipLeft]="true">
                </app-basic-score-display>
            </div>
        </div>
    </div>
</div>

<ng-template #noSatisfactionData>
    <app-no-data
    [captionTooltip]="'Shows the satisfaction with the team process. (1-5)'"
    [captionText]="'Satisfaction With Process'">
    </app-no-data>
</ng-template>
<ng-template #noVoiceData>
    <app-no-data
    [captionTooltip]="'Shows the percieved Voice the participants had in the team. (1-5)'"
    [captionText]="'Team Voice'">
    </app-no-data>
</ng-template>
<ng-template #noClarityData>
  <app-no-data
    [captionTooltip]="'Shows the clarity of the goals percieved by the participants. (1-5)'"
    [captionText]="'Goal Clarity'">
  </app-no-data>
</ng-template>
