<div class="card" *ngIf="formData">
  <div class="card-header">
    <div class="headInfo">
      <span>Community Measures</span>
      <cds-icon shape="info-circle"></cds-icon>
    </div>
  </div>
  <div class="card-body">
    <div class="clr-row">
      <div class="clr-col-6">
        <app-basic-score-display *ngIf="formData.CommunityIdentification.length !== 0; else noCommunityData"
          [scoreNumber]="formData.CommunityIdentification.avg"
          [bestPossibleNumber]="5"
          [sd]="formData.CommunityIdentification.sd"
          [captionText]="'Community Identification'"
          [captionTooltip]="'Shows the identification with the community. (1-5)'">
        </app-basic-score-display>
      </div>
      <div class="clr-col-6">
        <app-basic-score-display *ngIf="formData.SocialCapital.length !== 0; else noCapitalData"
          [scoreNumber]="formData.SocialCapital.avg"
          [bestPossibleNumber]="5"
          [sd]="formData.SocialCapital.sd"
          [captionText]="'Social Capital'"
          [captionTooltip]="'Shows the social capital reported by participants. (1-5)'">
        </app-basic-score-display>
      </div>
    </div>
  </div>
</div>

<ng-template #noCommunityData>
  <app-no-data
  [captionText]="'Community Identification'"
  [captionTooltip]="'Shows the identification with the community. (1-5)'">
  </app-no-data>
</ng-template>
<ng-template #noCapitalData>
  <app-no-data
  [captionText]="'Social Capital'"
  [captionTooltip]="'Shows the social capital reported by participants. (1-5)'"
  [tooltipLeft]="true">
  </app-no-data>
</ng-template>
